html, body {
    margin: 0!important; 
    padding: 0!important;
}

main{
    width: 100%;
    min-height: 100vh;
    background: url('/static/main/images/background_image.jpg');
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
  .dropdown .dropdown-menu {
    display: none;
}
  .dropdown:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
}

.scroll-div{
    overflow: hidden;
    overflow-y: scroll;
}

.card{
    text-decoration: none;
}

.star-icon:hover{
    cursor: pointer;
}
