html, body {
    margin: 0!important; 
    padding: 0!important;
}

main{
    width: 100%;
    height: 100vh;
    background: url('/static/main/images/background_image.jpg');
    overflow: hidden;
}

