/* CSS for layout.html */
.hovered{
    cursor: default;
    text-decoration: none;
} 

.hovered:hover{
    opacity: 0.9;
}

.hovered > *{
    cursor: pointer;
}

.no-decoration{
    text-decoration: none;
}