/* OLD SCROLLBAR
::-webkit-scrollbar{
    width: 1em;
    height: 2em;
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #333;
}
*/

::-webkit-scrollbar{
    display: none;
}