{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}
    {{game.title}}
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock css %}

{% block content %}
    <main>
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-light rounded-3 w-75 h-100">
                {% include 'main/includes/header.html' %}

                <div class="container bg-secondary bg-gradient">
                    <section class="d-flex flex-column justify-content-center align-items-center">
                        <h2>{{game.title}}</h2>
                        <img src="{{game.imgURL}}" alt='game image'>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock  %}