{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}
    {{game.title}}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/library.css' %}">
<link rel="stylesheet" href="{% static 'main/includes/scrollbar.css' %}">
{% endblock css %}

{% block content %}
    <main>
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-light w-75 h-100">
                {% include 'main/includes/header.html' %}

                <section class="scroll-div">
                    <div class="row d-flex justify-content-center mt-2 mb-4">
                        <div class="bg-dark bg-gradient col-4 min-vh-100 rounded-2 me-4">
                            <h2 class='text-center mt-1'>{{game.title}}</h2>
                            <img class="img-fluid rounded-2" src="{{game.imgURL}}" alt='game image'>
                        </div>
                        <div class="bg-dark bg-gradient col-7 min-vh-100 rounded-2 ms-4">
                            <p class="fw-lighter mt-2">{{game.text}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock  %}