{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}
    Biblioteka
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/library.css' %}">
    <link rel="stylesheet" href="{% static 'main/includes/scrollbar.css' %}">
    <script type="text/javascript" src="{% static 'main/includes/scripts/search.js' %}" defer></script>
{% endblock css %}

{% block content %}
    <main>
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-light rounded-3" style='width:80vw;'>
                {% include 'main/includes/header.html' %}

                <div class="scroll-div row row-cols-3">
                    {% for game in games %}
                        <a href="{% url 'main:game_detail' game.pk %}" id="{{game.title}}" class="item hovered d-flex justify-content-center align-items-center col p-0 mb-4">
                            <img src="{{game.imgURL}}" class="img-thumbnail border-secondary bg-secondary" alt="..." style='width:85%;'>
                        </a>
                    {% endfor %}
                </div>

                
            </div>
        </div>
    </main>
{% endblock  %}