{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giercownia v1</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}" >  
    <script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}" defer></script>  
    <!--Icons-->
    <link rel="stylesheet" href="{% static 'main/bootstrap/icons/bootstrap-icons.css' %}">

    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>
<body>
    <main>
        <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="text-bg-dark rounded-3" style='width:80%; height:80vh;'>
                {% include 'main/includes/header.html' %}

                {% include 'main/includes/games.html' %}
            </div>
        </div>
    </main>
</body>
</html>