{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title %}
    Giercownia v1
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/library.css' %}">
    <link rel="stylesheet" href="{% static 'main/includes/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'main/includes/text_responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block content %}
    <main>
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-light rounded-3 h-100">
                {% include 'main/includes/header.html' %}

                {% include 'main/includes/games_main.html' %}
            </div>
        </div>
    </main>
{% endblock  %}