
    <div class="scroll-bg d-grid gap-3">
        <div class="scroll-div">
            {% for game in games %}
                <a href="{% url 'main:game_detail' game.pk %}" class="card d-flex flex-row text-white bg-secondary bg-gradient mb-3">
                    <img src="{{game.imgURL}}" class="card-img-left p-1 " alt="...">
                    <article class="card-body pb-1">
                        <h2>{{game.title}}</h2>
                        <p>{{game.description}}</p>
                        <p>{{game.text}}</p>
                    </article>
                </a>
            {% endfor %}
        </div>
    </div>