
    <div class="scroll-bg d-grid gap-3">
            {% for game in games %}
                <div class="bg-gradient rounded-2 mb-3" style="background-color: #34383c">
                    <a href="{% url 'main:game_detail' game.pk %}" class="hovered text-white">
                        <div class="row">
                            <div class="col-lg-6 col-md-5 col-4">
                                <img src="{{game.imgURL}}" class="img-fluid rounded-4 p-1 " alt="...">
                            </div>
                
                            <div class="col-lg-6 col-md-7 col-8">
                                <div class="row pb-1">
                                    <div class="col-12"><h2 class='title-header text-center'>{{game.title}}</h2></div>
                                    <div class="col-12"><p>{{game.description}}</p></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>