{% load static %}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
bg-dark rounded-bottom mb-3"> 

  <section class="d-flex flex-row ms-5">
    <div class="dropdown">
      <i class="bi bi-controller mt-xl-2 mt-md-1 mt-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:3em"></i>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">
          <i class="bi bi-file-bar-graph-fill"></i>
          Najczęściej oglądane
        </a></li>
        <li><a class="dropdown-item" href="{% url 'main:library' %}">
          <i class="bi bi-archive-fill"></i>
          Biblioteka
        </a></li>
          {% if user.is_authenticated %}
              <li><div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myModal">
              <i class="bi bi-plus-circle-fill"></i>
              Dodaj
            </div></li>
          {% endif %}
          {% if not user.is_authenticated %}
          <li>
              <a class="dropdown-item" href="{% url 'main:login' %}">
              <i class="bi-person"></i>
              Zaloguj się
              </a>
          </li>
      {% endif %}
      </ul>
    </div>
    <h2 class="p-4">Giercownia - your games database</h2>
  </section>

  {% if is_searchable %}
    <section class="me-xl-4 m-md-4 mb-3">
      <label for="search">Search</label>
      <input type="text" class="search formControl rounded-2" onkeyup="search_func()">
    </section>
  {% endif %}

        {% if user.is_authenticated and not is_searchable %}
    <section>
            <div class="dropdown">
            <i class="bi bi-person-circle mt-xl-2 mt-md-1 mt-3 p-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:3em"></i>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin">
                <i class="bi bi-person"></i>
                Profil
                </a></li>
                <li><a class="dropdown-item" href="{% url 'main:logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                Wyloguj się
                </a></li>
            </ul>
            </div>
    </section>
        {% endif %}


</header>


<!--MODAL line:17-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content bg-dark bg-gradient">
          <div class="modal-header text-bg-secondary bg-gradient bg-dark">
              <h5 class="modal-title">Dodaj nową gre steam</h5>
              <button class="btn-close" data-bs-dismiss='modal'></button>
          </div>
          <div class="modal-body text-dark bg-gradient bg-black">
              <form id='addForm'>
                  <label class="form-label text-white">Tytuł gry (opcjonalnie)</label>
                  <input type="text" class="form-control bg-gradient bg-dark text-white">

                  <label class="form-label text-white">Link do gry (steam)</label>
                  <input type="text" class="form-control bg-gradient bg-dark text-white ">

                  <div class="d-flex justify-content-center">
                      <button type='button' id='send' class="btn btn-primary w-25 mt-2"><i class="fas fa-paper-plane"></i>Dodaj grę</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'main/includes/scripts/add.js' %}"></script>
