{% load static %}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
bg-dark rounded-bottom mb-3"> 

  <section class="d-flex flex-row ms-5">
    <div class="dropdown">
      <i class="bi bi-controller mt-xl-2 mt-md-1 mt-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:3em"></i>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">
          <i class="bi bi-file-bar-graph-fill"></i>
          Najczęściej oglądane
        </a></li>
        <li><a class="dropdown-item" href="{% url 'main:library' %}">
          <i class="bi bi-archive-fill"></i>
          Biblioteka
        </a></li>
        <li><div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myModal">
          <i class="bi bi-plus-circle-fill"></i>
          Dodaj
        </div></li>
      </ul>
    </div>
    <h2 class="p-4">Giercownia - your games database</h2>
  </section>

  {% if is_searchable %}
    <section class="me-xl-4 m-md-4 mb-3">
      <label for="search">Search</label>
      <input type="text" class="search formControl rounded-2" onkeyup="search_func()">
    </section>
  {% endif %}

</header>


<!--MODAL line:17-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header text-bg-secondary bg-gradient">
              <h5 class="modal-title">Add new game to database</h5>
              <button class="btn-close" data-bs-dismiss='modal'></button>
          </div>
          <div class="modal-body text-dark">
              <form id='addForm'>
                  <label class="form-label">Game title</label>
                  <input type="text" class="form-control">

                  <label class="form-label">Game link</label>
                  <input type="text" class="form-control">

                  <div class="d-flex justify-content-center">
                      <button type='button' id='send' class="btn btn-primary w-25 mt-2">Dodaj grę</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'main/includes/scripts/add.js' %}"></script>
