
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
bg-dark rounded-bottom mb-3"> 
  <section class="d-flex flex-row ms-5">
    <div class="dropdown">
      <i class="bi bi-controller " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:3em"></i>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Najczęściej oglądane</a></li>
        <li><a class="dropdown-item" href="#">Biblioteka</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <h2 class="p-4">Giercownia - your games database</h2>
  </section>

</header>
